@tailwind base;
@tailwind components;
@tailwind utilities;

/* card sliding up */
@keyframes slideUp {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.slide-up-animation {
  animation: slideUp 0.5s ease forwards;
}

/* scrollbar for card */
::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-track {
  background: #888;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 5px;
}

/* expanding and collapsing of card */
.book-description-container {
  transition: max-height 0.3s ease-out;
}

.collapsed {
  max-height: 64px;
  overflow: hidden;
}

.expanded {
  max-height: 1000px;
}

/* hovering of card */
.hover-opacity {
  transition: opacity 0.5s ease;
}

.hover-opacity:hover {
  transition-delay: 1000ms;
  opacity: 0;
}
